__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

.venv/
venv/

uploaded_videos/
vtt_files/

node_modules/

**/ffmpeg-release-*.tar.xz
**/ffmpeg-*-static/

.DS_Store
Thumbs.db
.env
.env.*

.vscode/
.idea/
