__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

.venv/
venv/

backend/uploaded_videos/
backend/vtt_files/

node_modules/

**/ffmpeg-release-*.tar.xz
**/ffmpeg-*-static/

.DS_Store
Thumbs.db
.env
.env.*

.vscode/
.idea/
